* */6 * * * /bin/bash -c "/get_file.sh -p"  /dev/null 2>&1
# Downloads every 6 hours the newest data and process it
# Don't remove the empty line at the end of this file. It is required to run the cron job
