* */6 * * * /bin/bash -c "/get_file.sh -p" > /proc/1/fd/1 2>/proc/1/fd/2
# Downloads every 6 hours the newest data and process it
# Don't remove the empty line at the end of this file. It is required to run the cron job
